// importa o Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.max-container {
    max-width: 1600px;
    margin: 0 auto;
    width: calc(100% - 161px);
    @media (max-width: 991px) {
        width: calc(100% - 31px);
    }
}

body {
    font-family: Titillium Web;
    background: #fafafa;
    @media (max-width: 991px) {
        background: #fff;
    }
}

.content {
    background: #fafafa;
    @media (max-width: 991px) {
        background: #fff;
    }
}

figure,
figcaption {
    margin: 0;
    padding: 0;
}


/*texto vitrine e icons2*/

section {
    header {
        box-shadow: none;
        background: #fafafa;
        @media (max-width: 991px) {
            background: #fff;
        }
        h3 {
            display: block;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            margin: 32px auto!important;
            line-height: 48.67px;
            color: #353535;
        }
    }
}


/* slick*/

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 6px solid #353535;
    background: transparent;
    font-size: 0;
    width: 22px;
    height: 22px;
    border-radius: 1px;
}

.slick-next {
    right: calc(0% + 160px);
    border-bottom: none;
    border-left: none;
    @media (max-width: 991px) {
        right: calc(0% + 28px);
    }
}

.slick-prev {
    left: calc(0% + 160px);
    z-index: 1;
    border-right: none;
    border-top: none;
    @media (max-width: 991px) {
        left: calc(0% + 28px);
    }
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
    padding: 0;
}


/*TOPBAR*/

.main-topbar {
    background: #353535;
    box-shadow: none;
    span {
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 24px;
        @media (max-width: 991px) {
            font-size: 10px;
            line-height: 18px;
        }
    }
}


/*header*/

header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    background: white;
}

.main-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .w-100 {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991px) {
            justify-content: space-between;
        }
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.container-logo {
    padding: 35px 0;
    box-sizing: border-box;
    margin-right: 117px;
    display: flex;
    @media (max-width: 1600px) {
        margin-right: 50px;
    }
    @media (max-width: 991px) {
        margin-right: 0;
    }
    .img-responsive {
        @media (max-width: 991px) {
            margin-right: 0;
            width: 110px;
            margin-left: 15px;
        }
    }
}

.search {
    width: 100%;
    max-width: 791px;
    position: relative;
    input {
        border: none;
        border-radius: 10px;
        width: 100%;
        background: #EFEFEF;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    button {
        position: absolute;
        right: 0;
        width: 100%;
        max-width: 119px;
        background: #FAA500;
        border: none;
        border-radius: 8px;
        height: 40px;
        color: white;
        font-size: 14px
    }
}

.container-profile {
    margin-left: 143px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 428px;
    @media (max-width: 1600px) {
        margin-left: 50px
    }
    @media (max-width: 1240px) {
        max-width: 263px;
    }
    @media (max-width: 991px) {
        justify-content: flex-end;
        margin: 0;
    }
    a {
        margin-right: 39px;
        line-height: 21px;
        span {
            color: #353535;
            font-size: 14px;
        }
        img {
            margin-right: 8px
        }
    }
    .carrinho {
        padding: 12px;
        border: 1px solid #FAA500;
        box-sizing: border-box;
        margin-right: 0;
        border-radius: 8px;
        @media (max-width: 991px) {
            border: none;
            padding: 0;
        }
        img {
            @media (max-width: 991px) {
                width: 20.77px;
                height: 24px;
                margin: 0;
            }
        }
    }
}


/*header-mobile*/

.header-mobile .main-head {
    @media (min-width: 991px) {
        display: none;
    }
    @media (max-width:991px) {
        display: block;
    }
}


/*nav*/

.sub-head {
    max-width: 1200px;
    @media (max-width: 1600px) {
        max-width: unset;
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.menu {
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 14px 0;
        grid-gap: 109px;
        margin-bottom: 0;
        @media (max-width: 1600px) {
            justify-content: center;
            grid-gap: 50px;
        }
        li {
            text-align: center;
        }
    }
    a {
        cursor: pointer;
        color: #353535;
        font-size: 14px;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        &:hover {
            color: #FAA500;
            font-weight: 700;
            text-decoration: none;
        }
        &:hover:before {
            content: "";
            display: block;
            background-image: url(../img/btnicon.png);
            width: 15px;
            height: 17px;
            background-repeat: no-repeat;
            position: absolute;
            left: -22px;
            top: 50%;
            transform: translatey(-50%);
        }
    }
}


/*fullbanner*/

.banner {
    @media (max-width: 991px) {
        display: none!important;
    }
    position: relative;
    .banner-content div {
        position: absolute;
        top: 50%;
        transform: translateY(-63%) translateX(143px);
        display: flex;
        flex-direction: column;
        h2 {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            color: #fff;
            margin-bottom: 40px;
        }
        span {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            width: 100%;
            color: #fff;
            margin-bottom: 32px;
            max-width: 421px;
        }
        a {
            font-family: Montserrat;
            text-align: center;
            background: #FAA500;
            border-radius: 10px;
            color: #fff;
            max-width: 128px;
            line-height: 48px;
            font-size: 16px;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    li {
        button {
            border-radius: 50%;
            background: transparent;
            width: 16px;
            height: 16px;
            margin: 0 8px;
            font-size: 0;
            border: 2px solid #FAA500;
            transition: 0.3s;
            &:hover {
                background: #FAA500;
            }
        }
    }
    li.slick-active button {
        background: #FAA500;
    }
}

.banner-mobile {
    display: none!important;
    @media (max-width: 991px) {
        display: block!important;
    }
    position: relative;
    .banner-content div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(35px);
        display: flex;
        flex-direction: column;
        max-width: 239px;
        h2 {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 30px;
            line-height: 36.57px;
            color: #fff;
            margin-bottom: 40px;
        }
        span {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 14px;
            line-height: 17.07px;
            width: 100%;
            color: #fff;
            margin-bottom: 32px;
            max-width: 421px;
        }
        a {
            font-family: Montserrat;
            text-align: center;
            background: #FAA500;
            border-radius: 4px;
            color: #fff;
            max-width: 76px;
            line-height: 28px;
            font-size: 14px;
        }
    }
    .slick-dots {
        bottom: 32px;
    }
    img {
        width: 100%;
        height: auto;
    }
    li {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        button {
            border-radius: 50%;
            background: transparent;
            height: 16px;
            font-size: 0;
            border: 2px solid #FAA500;
            transition: 0.3s;
            transform: scale(0.5);
            &:hover {
                background: #FAA500;
            }
        }
    }
    li.slick-active button {
        background: #FAA500;
    }
}


/*icons*/

.icons-1 {
    header {
        background: #fafafa;
        @media (max-width: 991px) {
            background: #fff;
        }
        box-shadow: none;
        h2 {
            margin: 21px auto;
            font-size: 16px;
            font-weight: 700;
            color: #353535;
            line-height: 24.34px;
            text-align: center;
        }
    }
    figure {
        margin: 0;
        display: flex;
        img {
            width: 32px;
            height: 32px;
            margin-right: 22px;
        }
        figcaption {
            margin: 0;
            p {
                display: flex;
                flex-direction: column;
                margin: 0;
                align-items: center;
                strong {
                    line-height: 21.29px;
                    font-size: 14px;
                    display: block;
                    margin-right: auto;
                }
                span {
                    line-height: 18.25px;
                    font-size: 12px;
                    display: block;
                    margin-right: auto;
                }
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            width: 100%;
            max-width: 307px;
            background: #EFEFEF;
            padding: 16px 27px;
            box-sizing: border-box;
            border-radius: 4px;
            display: block!important;
            margin: 0 auto;
        }
    }
}

.icons-2 {
    margin-bottom: 80px;
    figure {
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        img {
            width: 100%;
            max-width: 307px;
            display: block;
            margin: 0 auto;
        }
    }
}


/*vitrine*/

.vitrine {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .slick-next {
            right: 10px;
        }
        .slick-prev {
            left: 10px;
        }
        li {
            width: 100%;
            max-width: 307px;
            display: block!important;
            margin: 0 auto;
            margin-bottom: 8px;
            padding: 0 8px;
            img {
                width: 100%;
            }
            figcaption {
                padding: 0 27px;
            }
            ul {
                display: flex;
                flex-direction: row;
                max-width: 132px;
                margin: 8px 0 0 0;
                li {
                    width: 27px;
                    height: 27px;
                    border: 1px solid #353535;
                    box-sizing: border-box;
                    border-radius: 4px;
                    &:nth-child(1) {
                        background: #DEAC71;
                    }
                    &:nth-child(2) {
                        background: #D37164;
                    }
                    &:nth-child(3) {
                        background: #6497D3;
                    }
                    &:nth-child(4) {
                        background: #3C3B79;
                    }
                }
            }
            p {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                line-height: 18.25px;
                max-width: 217px;
                width: 100%;
                strong {
                    color: #353535;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30.42px;
                    margin-bottom: 2px;
                }
                span {
                    font-size: 16px;
                    line-height: 24.34px;
                    color: #000000;
                    margin-bottom: 6px;
                }
            }
            button {
                width: 100%;
                background: #FAA500;
                border-radius: 4px;
                line-height: 35px;
                border: none;
                color: #ffffff;
            }
        }
    }
}


/*last-banner*/

.last-banner {
    display: grid;
    grid-template-columns: 1fr 70%;
    margin-top: 80px;
    margin-bottom: 80px;
    @media (max-width: 991px) {
        display: none;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 480px;
        overflow-y: hidden;
        header {
            margin-bottom: 16px;
            h4 {
                font-size: 24px;
                line-height: 37px;
                font-weight: bold;
            }
        }
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #000;
            max-width: 420px;
            padding-right: 20px;
            @media (max-width: 991px) {
                max-width: unset;
            }
        }
    }
    img {
        width: 100%;
        @media (max-width: 991px) {
            border-radius: 4px;
        }
    }
}

.last-banner-mobile {
    display: grid;
    grid-template-columns: 1fr 70%;
    margin-top: 80px;
    margin-bottom: 80px;
    display: none;
    margin-top: 23px;
    @media (max-width: 991px) {
        display: block;
    }
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 480px;
        overflow-y: hidden;
        header {
            margin-bottom: 16px;
            h4 {
                font-size: 24px;
                line-height: 37px;
                font-weight: bold;
            }
        }
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #000;
            max-width: 420px;
            padding-right: 20px;
            @media (max-width: 991px) {
                max-width: unset;
            }
        }
    }
    img {
        width: 100%;
        @media screen {
            border-radius: 4px;
        }
    }
}


/*newsletter*/

.border-newsletter-full {
    border: 2px solid #efefef;
    border-right: none;
    border-left: none;
    @media (max-width: 991px) {
        background: #FAFAFA;
    }
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    span {
        font-weight: bold;
        font-size: 24px;
        line-height: 37px;
    }
    div {
        position: relative;
        width: 100%;
        max-width: 630px;
        @media (max-width: 991px) {
            margin-top: 8px;
            display: flex;
            max-width: unset;
            grid-gap: 15px;
            justify-content: center;
        }
        input {
            width: 100%;
            border: none;
            margin-left: 60px;
            line-height: 40px;
            max-width: 554px;
            background: #FFFFFF;
            border: 1px solid #353535;
            border-radius: 4px;
            box-sizing: border-box;
            padding-left: 24px;
            font-size: 14px;
            color: #353535;
            &::placeholder {
                color: #353535;
            }
            @media (max-width: 991px) {
                margin-left: 0;
            }
        }
        button {
            position: absolute;
            right: 0;
            width: 100%;
            max-width: 131px;
            border: none;
            line-height: 40px;
            background: #FAA500;
            border: 1px solid #FAA500;
            box-sizing: border-box;
            border-radius: 4px;
            color: white;
            font-weight: bold;
            font-size: 16px;
            @media (max-width: 991px) {
                position: unset;
            }
        }
    }
}

.itens-footer {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin-top: 40px;
    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: center;
    }
    h5 {
        font-size: 16px;
        line-height: 18px;
        color: #353535;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 25px 0 25px 0;
            a {
                text-decoration: none;
                color: #000;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

.footer-item {
    position: relative;
    &::before {
        content: "+";
        position: absolute;
        right: 0;
        font-weight: bold;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
    }
    ul {
        @media (max-width: 991px) {
            transition: 1s;
            overflow: hidden;
            max-height: 0;
        }
    }
}

.footer-item.active {
    &::before {
        content: "-";
    }
    ul {
        max-height: 242px;
    }
}

.sub-footer {
    background: #353535;
    .sub-footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 27px 0;
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }
        img {
            width: 100%;
            max-width: 32px;
            max-height: 32px;
            &:nth-child(2) {
                margin: 0 11px 0 22px;
            }
            &:nth-child(3) {
                margin: 0 22px 0 11px;
            }
        }
        .social {
            display: flex;
            justify-content: start;
            align-items: center;
            @media (max-width: 991px) {
                justify-content: center;
                margin-top: 36px;
            }
        }
        .payment {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 991px) {
                margin-top: 36px;
            }
            img {
                width: 100%;
                max-width: 32px;
                max-height: 25px;
            }
        }
        .dev {
            display: flex;
            justify-content: flex-end;
            @media (max-width: 991px) {
                justify-content: center;
                margin-top: 36px;
            }
            div {
                display: flex;
                flex-direction: column;
                &:nth-child(1) {
                    margin-right: 21px;
                }
                span {
                    color: white;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 14px;
                }
                img {
                    margin: 3px 0 0 0;
                    max-width: unset;
                    max-height: unset;
                }
            }
        }
    }
}


/*modal*/

.modal-bg {
    background: #000000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.modal {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    max-height: 530px;
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
        max-width: 298px;
        max-height: 370px;
    }
    img {
        width: 100%;
        margin-bottom: 17px;
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            display: none;
        }
    }
    p {
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #464B54;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            margin-top: 12px;
            color: #787D83;
            font-size: 20px;
            line-height: 23px;
            text-transform: none;
        }
        strong {
            margin-bottom: 25px;
            color: #787D83;
            font-size: 20px;
            line-height: 23px;
            text-transform: none;
        }
    }
    input {
        margin-bottom: 12px;
        width: 100%;
        max-width: 332px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px 16px;
        &::placeholder {
            color: #787D83;
            font-size: 12px;
        }
        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            max-width: 258px;
        }
    }
    button {
        width: 100%;
        max-width: 332px;
        line-height: 40px;
        background: #FAA500;
        border-radius: 10px;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        &::before {
            background-image: url("img/modalmsg.png");
            display: block;
        }
        @media (max-width: 991px) {
            max-width: 258px;
        }
        i {
            margin-left: 8px;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 23px;
            display: block;
        }
    }
}

.fecha-Modal {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateY(-288px) translateX(423px);
    z-index: 999;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    @media (max-width:991px) {
        transform: translateY(-204px) translateX(150px);
    }
}